body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.booking-type, .booking-form {
    margin-bottom: 20px;
}

.booking-form {
    display: none;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

select, input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

select:focus, input:focus {
    border-color: #66afe9;
    outline: none;
}

#single-booking, #daily-booking {
    display: none;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}
