/* Edit Room Page Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.main-content h3{
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom:20px ;
    margin-left: 35px;
    margin-right: 35px;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-bottom: 20px;
}



button {
    background-color: #53687d;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 90%;
    margin-left: 35px;
    margin-right: 35px;
}

button:hover {
    background-color:   #2C3E50;
}

input[readonly] {
    background-color: #f1f1f1;
    cursor: not-allowed;
}

form p {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
}
