* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  height: 100%;
}

.side {
  flex: 1;
  background-color: #146cbf;
  background-image: linear-gradient(19deg, #34495e 0%, #96a2b4 100%);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 20px;
}

.logo {
  width: 80px; /* Adjust this value to your desired size */
  height: auto;
  margin-bottom: 20px; /* Optional: adjust space below the logo */
}

.side p {
  width: 500px;
  color: rgba(255, 255, 255, 0.41);
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 0.3px;
  margin-top: 10px; /* Add some space between the logo and the text */
}

.container {
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  width: 100%; /*min-width: 1024px;sara*/
  min-height: 650px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

button {
  background-color: transparent;
  text-align: center;
  font: inherit;
  border: none;
  margin: 0;
  padding: 32px 30px;
  border-radius: 0;
}

main {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

main h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#messageBox {
  color: #757575;
  background-color: #a9856c4c;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.529);
  padding: 10px;
}

#messageBox span {
  margin: 10px;
}

.inputF {
  border-bottom: 1px solid #146cbf;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 40px;
}

.inputF i {
  color: #606162;
  margin: 0 8px 0 7px;
}

input {
  border: 0;
  outline: 0;
  font: inherit;
  width: 80%;
}

span {
  width: 100%;
}

main .submit {
  width: 70%;
  text-align: center;
  margin-top: 60px;
  margin-right: 50px;
}

main .submit button {
  /* background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%); */
  background-image: linear-gradient(19deg, #34495e 0%, #7386a6 100%);
  color: #ffffff;
  height: 40px;
  width: 300px;
  padding-top: 10px;
  border-radius: 50px;
 
}

main .submit button:hover {
  transition: 0.19s;
  cursor: pointer;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.281);
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  color: #707070;
  text-align: center;
  /* background-color: red; */
  font-size: 15px;
  padding: 10px 15px;
}

.info p a {
  text-align: center;
  margin: auto;
  text-decoration: none;
  color: #707070;
  padding: 8px;
}

.info p a:hover {
  color: black;
  cursor: pointer;
}

@media (max-width: 900px) {
  .side {
      display: none;
  }
}


.signup-container {
  
  text-align: center;
  width: 300px;
  margin: 20px auto;
  margin-left: 30px;
  
}

.signup-container p {
  font-size: 16px;
  color: #333;
  margin-bottom: 12px;
}

.signup-button {
  background-color: #ffffff;
  color: #000000;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  border-radius: 50px;
  border: 2px solid #34345e; /* Add this line */
}


.signup-button:hover {
  transition: 0.19s;
  cursor: pointer;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.281);
}
